/*global*/
body {
	/*width: 1920px;*/
}
.main {
	height: 100%;
	flex: 1 0 auto;
}
@media (min-width:768px) {
  .main {
    height: auto;
  }
}

.list-icon {
	font-size: 21px;
	line-height: 1;
}
.list-icon li{
	padding: 0;
	margin-right: 7px;
}
.list-icon .icon-facebook {
	font-size: 19px;
}
.list-icon .icon-twitter {
	font-size: 16px;
}
.list-icon .icon-linkedin {
	font-size: 19px;
}
.list-icon .icon-youtube {
	font-size: 21px;
}

.nav-circle {
	display: none;
}
@media (min-width:1024px) {
	.nav-circle {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		transition: .3s;
		width: 100%;
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
		transform: translateY(-50%);
	}
}

.nav-circle span{
	display: block;
	height: 8px;
	width: 8px;
	border-radius: 100%;
	overflow: hidden;
	background: #214d8f;
}

/*----------------------------------header------------------------------------*/
.header{
	position: absolute;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, .95);
	z-index: 3;
}
@media (min-width:1024px) {
	.header {
		background-color: rgba(255, 255, 255, .75);
	}
}

.header .top-line {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-bottom: 1px solid #214d8f;
	height: 75px;
}
@media (min-width:1024px) {
	.header .top-line {
		height: 108px;
	}
}

.header .top-line .container-fluid{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.header .logo-holder {
	flex: 1;
}
@media (min-width:1024px) {
	.header .logo-holder  {
		text-align: center;
	}
}

.header .navbar-brand {
	/*float: none;*/
	display: inline-block;
	vertical-align: middle;
	max-width: 180px;
	padding: 0;
}
@media (min-width:1024px) {
	.header .navbar-brand  {
		max-width: 262px;
	}
}

.header .navbar {
	margin-bottom: 0;
}

.header .search-holder {
	text-align: center;
	line-height: 1;
}
@media (min-width:1024px) {
	.header .search-holder {
		position: absolute;
		right: -4px;
		bottom: calc(100% + 30px);
	}
}

.header .search-holder .dropdown-toggle {
	display: block;
}

.header .search-holder .dropdown-menu {
	top: 0;
	transform: translateY(-50%);
	left: 0;
	right: 0;
}

.header .search-holder .dropdown-toggle .icon-search {
	font-size: 36px;
	line-height: 1;
}

.header .navbar-collapse {
	position: relative;
}

.header .dropdown-menu {
	max-width: 100%;
}

.header .list-icon {
	margin-bottom: 0;
	text-align: center;
	padding: 10px 0;
}
@media (min-width:1024px) {
	.header .list-icon {
		position: absolute;
		left: 4px;
		bottom: calc(100% + 42px);
		padding: 0;
	}
}

.header .nav {
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	color: #214d8f;
	width: 100%;
}
@media (min-width:1024px) {
	.header .nav  {
		display: flex;
		justify-content: center;
	}
}

.header .nav li {
	padding: 0;
}

.header .nav a{
	color: #214d8f;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 0 5px;
	font-size: 18px;
	line-height: 2.762em;
	letter-spacing: 0.0250em;
}
@media (min-width:1024px) {
	.header .nav a {
		font-size: 21px;
		padding: 0 17.5px;
	}
}
/*----------------------------------hero------------------------------------*/
.hero-section {
	position: relative;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	color: #fff;
	height: 100%;
	padding-top: 75px;
}
@media (min-width:768px) {
	.hero-section  {
		height: 487px;
	}
}
@media (min-width:1024px) {
	.hero-section {
		padding-top: 166px;
	}
}


.hero-section:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right, rgba(24,79,180,1) 0%,rgba(49,105,193,1) 24%,rgba(115,174,227,0.07) 88%,rgba(125,185,232,0.07) 98%);
}

.hero-section .container-fluid {
	position: relative;
	z-index: 2;
}

/*----------------------------------content------------------------------------*/
.thumbnail .top-section {
	position: relative;
}

.thumbnail .date-holder {
	position: absolute;
	top: 20px;
	left: 0;
	background-color: #214d8f;
	color: #fff;
}

.thumbnail .image-holder {
	height: 250px;
}
/*----------------------------------footer------------------------------------*/
.footer {
	background-color: #214d8f;
	padding: 20px 0;
	color: #c1cbf1;
	font-size: 12px;
	line-height: 2.250;
	letter-spacing: 0.0300em;
	text-transform: uppercase;
	flex-shrink: 0;
}
@media (min-width:992px) {
	.footer .right-col {
		padding: 51px 0 38px;
	}
}

.footer .center-line {
	margin-bottom: 10px;
}
@media (min-width:992px) {
	.footer .center-line {
		position: relative;
		overflow: hidden;
		margin-bottom: 24px;
	}
}
@media (min-width:992px) {
	.footer .center-line:after  {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 1px;
		background-color: #5478aa;
	}
}

.footer .logo-holder {
	text-align: center;
	margin-bottom: 25px;
}
@media (min-width:992px) {
	.footer .logo-holderl {
	margin-bottom: 57px;
	}
}

.footer .title {
	color: #fff;
	letter-spacing: 0.0150em;
}
.footer a {
	color: #c1cbf1;
}
.footer a:hover {
	color: #fff;
}

@media (min-width:992px) {
	.footer .right-col {
		float: right;
	}
}

.footer .right-col .row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.footer .logo-holder .navbar-brand {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}

@media (min-width:1024px) {
	.product {
		padding-left: 84px;
	}
}

.footer .contact {
	font-weight: 700;
}
@media (min-width:1024px) {
	.footer .contact {
		padding-left: 44px;
	}
}

.footer .contact .contact-list {
	padding-left: 28px;
}
@media (min-width:992px) {
	.footer .contact .contact-list {
		padding-left: 0;
	}
}

.footer .contact li {
	position: relative;
	line-height: 3em;
}
.footer .contact a {
	color: #fff;
}
.footer .contact a:hover {
	color: #c1cbf1;
}

.footer .contact .location {
	font-size: 14px;
}

.footer .contact .telephone {
	font-size: 14px;
}


.footer .contact .icon {
	position: absolute;
	left: -30px;
	top: 9px;
	font-size: 20px;
	color: inherit;
}

.footer .contact .company-name {
	display: block;
	margin-bottom: 2px;
	line-height: 1.814;
	letter-spacing: 0.0250;
}

.footer .contact address {
	line-height: 1.714;
	letter-spacing: 0.0150em;
	margin-bottom: 6px;
	font-weight: 500;
}

.footer .follow {
	text-align: center;
}
@media (min-width:992px) {
	.footer .follow {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}
@media (min-width:1024px) {
	.footer .follow {
		padding-left: 70px;
	}
}

@media (min-width:992px) {
	.footer .follow .title {
	margin-bottom: 16px;
	}
}

.footer .follow .list-icon {
	margin-left: 0;
	margin-bottom: 0;
}
@media (min-width:992px) {
	.footer .follow .list-icon {
	margin-bottom: 21px;
	}
}

.footer .follow a {
	color: #fff;
}

.footer .follow a:hover {
	color: #c1cbf1;
}

.footer .copyright {
	color: #c1cbf1;
	text-align: center;
	letter-spacing: 0.0300em;
	text-transform: none;
}